* {
  margin: 0;
  padding: 0;
}

html {
  /* font, text color */
  font-family: sans-serif;
  font-size: 10pt;
}

.container {
  /* set the height and width to the size of the view port */
  width: 100vw;
  height: 95vh;

  /* initialize grid */
  display: grid;
  grid-template-rows: 8fr 1fr 20fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5% 1.5%;
}

/* google logo */
.logo {
  /* grid */
  grid-area: 1 / 2 / span 1 / span 2;
  justify-self: center;

  /* positioning */
  position: relative;
  top: 16vh;

  /* size */
  width: 272px
}

/* styles for all search related content */
.search {
  /* font, text color */
  font-family: inherit;
  font-size: 100%;
  color: #696969;

  /* outline when clicked: https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element*/
  outline: none;
}

/* form container for search box */
#search-form {
  /* grid */
  grid-area: 2 / 2 / span 1 / span 2;  
  justify-self: center;

  /* positioning. this needs to be set to position the child elements (images) relative to it */
  position: relative;
}

/* magnifying glass for search box */
.mag-glass {
  /* positioning */
  position: absolute; /* with respect to parent */
  left: 20px;
  top: 13px;

  /* size */
  height: 19px;

  /* i can't change the color to a lighter gray, so working around this by lowering opacity */
  opacity: 0.5;
}

/* mic for search box */
.mic {
  /* positioning */
  position: absolute; /* with respect to parent */
  left: 465px;
  top: 13px;

  /* size */
  height: 19px;
}

/* text input for search box */
input[type=text] {
  /* size */
  width: 500px;
  height: 45px;

  /* border */
  border-radius: 50px;
  border-width: .5px;
  border-color: #D3D3D3;
  border-style: solid;

  /* add padding to the text input */
  box-sizing: border-box; /* i've fixed the size i want for the input, border-box will preserve */
  padding-left: 50px;
}

/* hover over search box */
input[type=text]:hover {
  box-shadow: 0px 0px 5px #D3D3D3;
}

/* both buttons */
.google, .lucky {
  /* removing default browser button styling ref: https://stackoverflow.com/questions/31601076/why-doesnt-my-input-button-change-height*/ 
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* color */
  background-color: #f1f1f1;

  /* border */
  border-radius: 5px;
  border-style: solid;
  border-color: #f1f1f1;
}

/* both buttons hover */
.google:hover, .lucky:hover {
  /* border */
  border-color: #A9A9A9;
} 

/* both buttons click */
.google:active, .lucky:active {
  /* border */
  border-color: #00688B;
} 

/* google search button */
.google {
  /* grid */
  grid-area: 3 / 2 / span 1 / span 1;  

  /* size */
  width: 120px;
  height: 40px;

  /* positioning */
  justify-self: right;
}

/* feeling lucky button */
.lucky {
  /* grid */
  grid-area: 3 / 3 / span 1 / span 1;   

  /* size */
  width: 140px;
  height: 40px;

  /* positioning */
  justify-self: left;
}

/* top and bottom nav links */
nav a {
  /* spacing */
  margin: 0px 20px 0px 0px;

  /* positioning */
  position: relative;
  top: 20px;
  left: 40px;
}

/* removing the underlying of the hyperlinks. styles of this are selected like this ref: https://www.w3schools.com/css/css_link.asp */
nav a:link {
  text-decoration: none;
}

/* moving parts of the nav bars to the right */
.right-rail {
  /* positioning */
  float: right;
  position: relative;
  right: 60px;
}

/* footer container */
footer nav {
  /* size */
  height: 50px;

  /* color */
  background-color: #f1f1f1;
}

/* content on lucky.html and search.html */
.easter-egg {
  /* positioning */
  position: relative;
  top: 20px;
  left: 20px;

  /* font */
  font-size: 20pt;
}